name: RW - Build Test Backend

on:
  workflow_call:
    inputs:
      dotnet-version:
        description: 'Dotnet version'
        required: false
        default: '8.0'
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Install and Build
        run: |
          cd backend
          dotnet build